<div class="container">
  <div class="posts-list">
    <%= render 'posts', posts: @posts %>
  </div>
</div>

<div class="hidden-form">
  <div class="hidden-form-bg"></div>
  <h3 class="navbar-logo">My Photo Album</h3>
  <%= render 'form', post: @post %>
</div>
