// Post/Photo specific styles

.row-centered {
  text-align: center;
}

.posts-list {
  display: inline-block;
  float: none;
  margin-top: 20px;
  .col-lg-4 {
    display: inline-block;
    float: none;
    height: 350px;
    width: 315px;
    margin-top: 75px;
    padding-top: 20px;
    margin: 30px;
    background: #fff;
    -webkit-box-shadow: 9px 9px 18px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 18px -11px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 18px -11px rgba(0,0,0,0.75);
  }
}

.image-container {
  background: image-url("starring.png");
  height: 250px;
  width: 260px;
  margin: 0 auto;
  overflow: hidden;
}
