<h3 class="navbar-logo">My Photo Album</h3>
<i class="glyphicon glyphicon-remove"></i>
<div class="menu">
  <div class="text-center">
    <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
    <p><a class="new-post">New Post</a></p>
  </div>
</div>
