<header>
  <div class="inner-nav">
    <h3 class="logo">My Photo Album</h3>
    <i class="glyphicon glyphicon-align-justify visitor-menu"></i>
  </div>
</header>

<div class="hidden-menu">
  <div class="hidden-form-bg"></div>
  <%= render 'layouts/visitor_menu' %>
</div>
