<nav>
  <div class="inner-nav">
    <h3 class="logo">My Photo Album</h3>
    <i class="glyphicon glyphicon-align-justify admin-menu"></i>
  </div>
</nav>

<div class="hidden-menu">
  <div class="hidden-form-bg"></div>
  <%= render 'layouts/admin_menu' %>
</div>
