<h3 class="navbar-logo">My Photo Album</h3>
<i class="glyphicon glyphicon-remove"></i>
<div class="menu visitor">
  <div class="text-center">
    <p>Put some text and description here. Maybe a profile or some such.</p>
  </div>
</div>
